.card-container {
	background-color: var(--secondary-color);
	color: var(--text-main-color);
	border: 1px solid var(--accent-color);
	border-radius: 2px;
	padding: 1em;
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1em;
}

.basic-data-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.btn:hover {
	cursor: pointer;
}

.thumbnail {
	border-radius: 50%;
	overflow: hidden;
	width: 40px;
	height: 40px;
}

.name-container {
	margin-left: 0.5em;
	color: var(--text-main-color);
}

.username {
	font-size: 0.8em;
	color: var(--accent-color);
}

.email {
	font-size: 0.9em;
	color: var(--text-inactive-color);
	margin-left: 0.25em;
}

.info-icon:hover {
	cursor: pointer;
}
