.list-container {
	display: grid;
	grid-template-columns: repeat(4, 23.5%);
	column-gap: 2%;
	row-gap: 1.5em;
}

.list-end-container {
	background-color: var(--secondary-color);
	border-radius: 2px;
	padding: 2.5em 5em;
	margin: 1.5em 0;
	text-align: center;
	border: 1px solid var(--accent-color);
}

.list-end-text {
	font-size: 2em;
	color: var(--accent-color);
}

.loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
