header {
	background-color: var(--accent-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1em 10em;
	color: var(--text-main-color);
	position: fixed;
	top: 0;
	width: 100%;
}

@media only screen and (max-width: 1200px) {
	header {
		padding: 1em 5em;
	}
}

@media only screen and (max-width: 667px) {
	header {
		padding: 1em 1.5em;
	}
}
