main {
	padding: 6em 10em 5em 10em;
}

.layout-container {
	position: relative;
}

@media only screen and (max-width: 1200px) {
	main {
		padding: 6em 5em 5em 5em;
	}
}

@media only screen and (max-width: 667px) {
	main {
		padding: 6em 1.5em 5em 1.5em;
	}
}
